<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <!-- <link rel="stylesheet" href="/static/css/styles.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <style>
    *,
    .card {
      transition: all .3s ease-in-out;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <div class="flex items-center w-full bg-gradient-to-br from-blue-400 to-violet-900">
    <nav class="glass navbar top-0 px-16 py-6 w-full flex fixed z-10 justify-between items-center">
      <h2 class="text-3xl text-cyan-800 font-bold glass py-1 px-3 rounded-md cursor-pointer shadow-xl"
        style="font-family: 'Courier New', Courier, monospace;">Ai Assist</h2>

      <div class="text-blue-100 flex gap-8">
        <a class="hover:text-blue-300 active:text-blue-400" href="#home">Home</a>
        <a class="hover:text-blue-300 active:text-blue-400" href="#about">About</a>
        <a class="hover:text-blue-300 active:text-blue-400" href="#contact">Developer Contact</a>
        <a class="hover:text-blue-300 active:text-blue-400" href="#recommend">Ask TAPAS AI</a>
        <a class="hover:text-blue-300 active:text-blue-400" href="#recommendation-section">AI Chat</a>

        <button
          class="flex items-center px-4 pt-2 pb-3 bg-cyan-300 hover:bg-cyan-400 text-cyan-900 font-semibold rounded-md"
          onclick="logout()">
          <i class="fas fa-sign-out-alt mr-2 mt-2"></i>
          <span>Logout</span>
        </button>
      </div>
    </nav>

    <div class="px-28 mt-28" id="home">
      <div class="px-28 mt-28">
        <div class="text-center mb-6">
          <h3 class="text-4xl font-semibold text-cyan-300">Welcome to the Future of Home Energy Management</h3>
          <p class="text-lg text-cyan-200 mt-2">AI-Powered Smart Home Energy Management System</p>
          <p class="text-base text-cyan-100 mt-4 px-4">
            Experience unparalleled convenience and efficiency with our cutting-edge AI-powered energy management system
            designed to transform the way you manage energy in your home.
          </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="card glass w-full max-w-lg mx-auto hover:scale-105 hover:bg-cyan-300 cursor-pointer"
            data-aos="fade-up">
            <div class="card-body">
              <h2 class="card-title text-xl font-bold text-cyan-900">Smart Monitoring</h2>
              <p class="text-cyan-800">Track your energy consumption in real-time for better insights.</p>
            </div>
          </div>
          <div class="card glass w-full max-w-lg mx-auto hover:scale-105 hover:bg-cyan-300 cursor-pointer"
            data-aos="fade-up" data-aos-delay="100">
            <div class="card-body">
              <h2 class="card-title text-xl font-bold text-cyan-900">Personalized Recommendations</h2>
              <p class="text-cyan-800">Get tailored suggestions to optimize your energy usage.</p>
            </div>
          </div>
          <div class="card glass w-full max-w-lg mx-auto hover:scale-105 hover:bg-cyan-300 cursor-pointer"
            data-aos="fade-up" data-aos-delay="200">
            <div class="card-body">
              <h2 class="card-title text-xl font-bold text-cyan-900">Eco-Friendly Solutions</h2>
              <p class="text-cyan-800">Contribute to a sustainable future while saving on bills.</p>
            </div>
          </div>
          <div class="card glass w-full max-w-lg mx-auto hover:scale-105 hover:bg-cyan-300 cursor-pointer"
            data-aos="fade-up" data-aos-delay="300">
            <div class="card-body">
              <h2 class="card-title text-xl font-bold text-cyan-900">User-Friendly Interface</h2>
              <p class="text-cyan-800">Control your energy management with an intuitive dashboard.</p>
            </div>
          </div>
          <div class="card glass w-full max-w-lg mx-auto hover:scale-105 hover:bg-cyan-300 cursor-pointer"
            data-aos="fade-up" data-aos-delay="400">
            <div class="card-body">
              <h2 class="card-title text-xl font-bold text-cyan-900">Seamless Integration</h2>
              <p class="text-cyan-800">Works effortlessly with your existing smart home devices.</p>
            </div>
          </div>
          <div class="card glass w-full max-w-lg mx-auto hover:scale-105 hover:bg-cyan-300 cursor-pointer"
            data-aos="fade-up" data-aos-delay="500">
            <div class="card-body">
              <h2 class="card-title text-xl font-bold text-cyan-900">24/7 Support</h2>
              <p class="text-cyan-800">Get assistance whenever you need it with our dedicated support team.</p>
            </div>
          </div>
        </div>
      </div>

      </header>

      <!-- Informasi CSV dengan Ikon -->
      <section id="csv-info" class="mb-8 mt-16">
        <h2 class="text-2xl font-semibold text-cyan-300 mb-4 flex items-center">
          <i class="fas fa-file-csv mr-2"></i> CSV Information
        </h2>

        <!-- Main container with background blur -->
        <div
          class="flex flex-col lg:flex-row w-full items-center inset-0 rounded-lg bg-gradient-to-br from-blue-400 to-violet-900 opacity-80 backdrop-blur-md">

          <div class="card w-full p-6">
            <p class="text-cyan-200 mb-4">
              <strong>Example rows:</strong>
            </p>

            <!-- Make table scrollable on smaller screens -->
            <div class="overflow-x-auto">
              <table class="table-auto text-cyan-100 text-left w-full">
                <thead>
                  <tr class="bg-transparent border-t border-b">
                    <th class="px-4 py-2">
                      <i class="fas fa-calendar-day"></i> Date
                    </th>
                    <th class="px-4 py-2">Time</th>
                    <th class="px-4 py-2">Appliance</th>
                    <th class="px-4 py-2">Energy Consumption</th>
                    <th class="px-4 py-2">Room</th>
                    <th class="px-4 py-2">Status</th>
                    <th class="px-4 py-2">Temperature</th>
                    <th class="px-4 py-2">Weather Condition</th>
                    <th class="px-4 py-2">Number of People</th>
                    <th class="px-4 py-2">Activity</th>
                    <th class="px-4 py-2">Season</th>
                    <th class="px-4 py-2">Energy Rating</th>
                    <th class="px-4 py-2">Usage Duration</th>
                    <th class="px-4 py-2">Appliance Wattage</th>
                  </tr>
                </thead>
                <tbody class="bg-transparent">
                  <tr>
                    <td class="px-4 py-2">2024-01-01</td>
                    <td class="px-4 py-2">00:00</td>
                    <td class="px-4 py-2 h-full flex items-center">
                      <i class="fas fa-temperature-low mr-2"></i> Refrigerator
                    </td>
                    <td class="px-4 py-2">1.2</td>
                    <td class="px-4 py-2">Kitchen</td>
                    <td class="px-4 py-2">On</td>
                    <td class="px-4 py-2">5</td>
                    <td class="px-4 py-2">Clear</td>
                    <td class="px-4 py-2">2</td>
                    <td class="px-4 py-2">Sleeping</td>
                    <td class="px-4 py-2">Winter</td>
                    <td class="px-4 py-2">A</td>
                    <td class="px-4 py-2">24</td>
                    <td class="px-4 py-2">150</td>
                  </tr>
                  <tr>
                    <td class="px-4 py-2">2024-01-01</td>
                    <td class="px-4 py-2">09:00</td>
                    <td class="px-4 py-2 flex items-center">
                      <i class="fas fa-tv mr-2"></i> TV
                    </td>
                    <td class="px-4 py-2">0.8</td>
                    <td class="px-4 py-2">Living Room</td>
                    <td class="px-4 py-2">On</td>
                    <td class="px-4 py-2">4</td>
                    <td class="px-4 py-2">Cloudy</td>
                    <td class="px-4 py-2">4</td>
                    <td class="px-4 py-2">Watching TV</td>
                    <td class="px-4 py-2">Winter</td>
                    <td class="px-4 py-2">B</td>
                    <td class="px-4 py-2">4</td>
                    <td class="px-4 py-2">100</td>
                  </tr>
                  <tr>
                    <td class="px-4 py-2">2024-01-01</td>
                    <td class="px-4 py-2">18:00</td>
                    <td class="px-4 py-2 flex items-center">
                      <i class="fas fa-lightbulb mr-2"></i> Light
                    </td>
                    <td class="px-4 py-2">0.1</td>
                    <td class="px-4 py-2">Kitchen</td>
                    <td class="px-4 py-2">On</td>
                    <td class="px-4 py-2">4</td>
                    <td class="px-4 py-2">Cloudy</td>
                    <td class="px-4 py-2">4</td>
                    <td class="px-4 py-2">Dinner</td>
                    <td class="px-4 py-2">Winter</td>
                    <td class="px-4 py-2">D</td>
                    <td class="px-4 py-2">2</td>
                    <td class="px-4 py-2">60</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <!-- About Section with Background Blur -->
      <section id="about" class="py-16 bg-transparent relative">
        <!-- Background Blur -->

        <!-- Content -->
        <div class="relative container mx-auto px-4">
          <div class="flex flex-col lg:flex-row items-center justify-between">
            <!-- Text Content -->
            <div class="pl-16  lg:w-2/3 mb-10 lg:mb-0 text-white" data-aos="fade-right">
              <h2 class="text-4xl font-bold mb-4">About Ai Assist</h2>
              <p class="text-lg mb-6">
                Ai Assist is an innovative AI-powered tool designed to enhance your productivity. Whether you need help
                with automating tasks, answering questions, or providing recommendations, our AI is here to assist.
              </p>
              <p class="text-lg mb-6">
                Our mission is to integrate AI into everyday tasks, making technology accessible and easy to use for
                everyone. With advanced algorithms and a user-friendly interface, Ai Assist is your go-to assistant for
                simplifying life.
              </p>
              <a href="#contact"
                class="inline-block bg-cyan-500 text-white py-3 px-6 rounded-md font-semibold hover:bg-cyan-600 transition-all">Learn
                More</a>
            </div>

            <!-- Image -->
            <div class="lg:w-1/3" data-aos="fade-left">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                class="w-32 h-32 mx-auto rounded-lg shadow-lg fill-current text-cyan-300">
                <!-- Petir SVG -->
                <path d="M32.002 2l-12.62 33h11.178l-3.94 25 21.364-29H35.056l5.472-29H32.002z" />
              </svg>
            </div>

          </div>
        </div>
      </section>

      <section id="contact" class="py-16 bg-gradient-to-br from-blue-400 to-violet-900 text-white">
        <div class="container mx-auto px-16">
          <h2 class="text-3xl font-bold text-center mb-8 text-cyan-300" data-aos="fade-up">
            Developer Contact
          </h2>

          <div class="flex flex-col lg:flex-row items-center justify-between lg:space-x-12">

            <!-- Contact Info -->
            <div class="lg:w-1/2 w-full mb-8 lg:mb-0" data-aos="fade-right">
              <h3 class="text-2xl font-semibold mb-4">Get in Touch</h3>
              <p class="mb-4">
                If you have any questions, suggestions, or issues, feel free to reach out. Our team is here to assist
                you!
              </p>
              <p class="flex items-center mb-2">
                <i class="fas fa-envelope mr-2 text-cyan-300"></i> zidanerizal17@gmail.com
              </p>
              <p class="flex items-center mb-2">
                <i class="fas fa-phone mr-2 text-cyan-300"></i> +62 815-2947-4830
              </p>
              <p class="flex items-center">
                <i class="fas fa-map-marker-alt mr-2 text-cyan-300"></i> Lamongan, District Lamongan, Lamongan Regency, East Java
              </p>
            </div>
          </div>
        </div>
      </section>

      <div id="recommend" class="flex pt-4">
        <!-- Formulir Pertanyaan -->
        <section class="card p-4 mx-2 glass w-1/3" id="question-form-section">
          <form id="question-form" class="space-y-4">
            <label for="question" class="block text-base-700 text-lg font-semibold flex items-center">
              <i class="fas fa-question-circle mr-2"></i> Ask a question:
            </label>
            <input type="text" id="question" name="question" placeholder="Enter your question..." required
              class="block w-full px-4 py-2 border bg-base-100 border-indigo-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" />
            <input type="submit" value="Submit"
              class="block w-full bg-indigo-600 text-white font-semibold py-2 rounded-md hover:bg-indigo-700 cursor-pointer" />
          </form>
          <div class="response-section mt-4" id="response-section">
            <!-- AI-generated responses will be added here -->
          </div>
        </section>

        <hr class="my-8" />

        <!-- Rekomendasi Penghematan Energi dengan Ikon -->
        <section class="card p-4 glass mx-2 bg-base-100 w-2/3 shadow-xl" id="recommendation-section">
          <h2 class="text-2xl font-semibold mb-4 flex items-center text-base-700">
            <i class="fas fa-lightbulb mr-2"></i> Energy Saving
            Recommendations
          </h2>
          <form id="recommend-form" class="space-y-4">
            <label for="text" class="block text-base-700 text-lg font-semibold flex items-center">
              <i class="fas fa-comment-dots mr-2"></i> Describe your
              situation:
            </label>
            <input type="text" id="text" name="text" placeholder="Describe your situation..." required
              class="block w-full px-4 py-2 border border-base-300 synthwave:bg-indigo-700 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" />
            <input type="submit" value="Get Recommendations"
              class="block w-full bg-green-600 text-white font-semibold py-2 rounded-md hover:bg-green-700 cursor-pointer" />
          </form>
          <div id="recommendations-list" class="mt-4">
            <!-- Recommendations will be dynamically added here -->
          </div>
        </section>
      </div>
    </div>
  </div>

  <script src="/static/js/script.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>