<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        {{ if .error }}
        <div class="error">{{ .error }}</div>
        {{ end }}
        <form method="post" action="/login">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>

        <!-- Tambahkan tombol untuk mengubah tema -->
        <button id="theme-toggle" class="btn secondary-button" onclick="toggleTheme()">Toggle Theme</button>
    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>